// components/_mixins.scss

// remove default list styles
@mixin reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// allows us to position an image as any other flex child
// by utilizing a div as a wrapper element
@mixin img-flex-child($width, $height, $radius: 0, $box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.3)) {
  .image-flex-wrapper {
    width: $width;
    height: $height;
    img {
      @if $radius != 0 {
        border-radius: $radius;
      }
      max-width: 100%;
      height: auto;
      object-fit: scale-down;
      box-shadow: $box-shadow;
    }
  }
}

// debug use only
@mixin draw-div-boundaries($enable: false) {
  @if $enable {
    div {
      border: black 1px dotted;
    }
  }
}