// components/_typography.scss
html {
  font-size: 17px;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

h4, h5, h6 {
  font-weight: 400;
}

h4 {
  font-size: 0.75rem;
}

h5 {
  font-size: 0.7rem;
}

p {
  font-size: 0.75rem;
}